name: test
on:
  push:
    branches:
      - main
  pull_request: null
  workflow_dispatch: null

jobs:
  test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - uses: actions/checkout@v2

      - name: run
        id: turnstyle
        uses: ./
        with:
          poll-interval-seconds: 5
          continue-after-seconds: 10
          # abort-after-seconds: 10
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: run
        run: |
          echo "worked!"
          echo "force-continue: '${FC}'"
        env:
          FC: ${{ steps.turnstyle.outputs.force_continued }}
